<% include ../partials/header %>

<h1>Tweeter</h1>

<section id="form">
  <div class="container">
    <h3>Add your own Post!</h3>
    <form action="/" method="POST" class="adding">
      <input type="text" placeholder="Name" name="name">
      <input type="text" placeholder="Description" name="description">
      <input type="submit">
    </form>  
  </div>
  
</section>

<section id="post">
  <div class="container">
    <% posts.forEach((post)=>{ %>
      <div class="box">
        <h2><%= post.name %></h2>
        <p><%= post.description %></p>
        <div class="button">
          <a id="updateButton" href="<%= post._id %>"> Update</a>
          <form class="deleteButton" action="/<%= post._id %>/delete" method="POST">
            <input type='submit' value="Delete">
          </form>
        </div>
      </div>
    <% }) %>  
  </div>
</section>

<% include ../partials/footer %>